<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Times | Dashboard</title>
    <link rel="icon" type="image/x-icon" href="../Assets/NYT.png">
    <link rel="stylesheet" href="../Styles/reset.css">
    <link rel="stylesheet" href="../Styles/dashboard.css">
    <script defer src="../Services/custom.js"></script>
</head>
<body>
    <div id="container">

        <div id="title">
            <h2>New York Times <i>&reg;</i></h2>
            <h1>Best Sellers</h1>
        </div>
        <hr>

        <div id="content">
            <div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div>
            <div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div><div id="card">
                <h4>Lorem ipsum dolor sit.</h4>
                <hr>
                <div id="infoCard">
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                    <p>Lorem, ipsum.</p>
                </div>
                <a href="">READ MORE! ➛</a>
            </div>
        </div>

    
</body>
</html>