<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New York Times | Dashboard</title>
    <link rel="icon" type="image/x-icon" href="../Assets/NYT.png">
    <link rel="stylesheet" href="../Styles/reset.css">
    <link rel="stylesheet" href="../Styles/dashboard.css">
    <script defer src="../Services/dashborad.js" type="module"></script>
</head>
<body>
    <nav class="menu">

        <div class="container">
            <a class="brand" id="nav-title" href="./dashboard.html">New York Times Book Web</a>
        <ul>
            <!--
              --CORRECCIÓN--
              La etiqueta UL solo puede tener etiquetas LI como hijos
            -->
            <div id="buttons">

            <li class="nav-item" id="logOutNav">
                <a class="nav-link3" href="#" id="logout">LogOut</a>
            </li>
            
        </div>
        </ul>
    </div>
    </nav>



    <div id="container">

        <div id="title">
            <h2>New York Times <i>&reg;</i></h2>
            <h1>Best Sellers</h1>
        </div>
        <hr>

        <div class="spinner" id="spinner">


        </div>

        <div id="content" class="hidden">
            
        </div>

    
</body>
</html>