<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/reset.css">
    <link rel="stylesheet" href="../Styles/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia|Roboto">
    <script defer src="../Services/details.js" type="module"></script>

    <script src="../Services/details.js"></script>
    <title>New York Times | Details</title>
</head>
<body>
    

    <nav class="menu">

        <div class="container">
            <a class="brand" id="nav-title" href="./dashboard.html">New York Times Book Web</a>
        <ul>
        <!--
           --CORRECCIÓN--
           La etiqueta UL solo puede tener etiquetas LI como hijos
        -->
            <div id="buttons">

            <li class="nav-item" id="logOutNav">
                <a class="nav-link3" href="#" id="logout">LogOut</a>
            </li>
            
        </div>
        </ul>
    </div>
    </nav>

    <div id="container2">
        <div id="title">
            <h2>New York Times <i>&reg;</i></h2>
            <h1>Best Sellers</h1>
        </div>
        <a id="back" href="./dashboard.html">BACK TO INDEX</a>
        </div>
        <div id="textDetail">
        
        </div>
      <!--
          --CORRECCIÓN--
          Este cierre de DIV sobra
       -->
    </div>    
</body>
</html>