/* estilo body */
body{
width: 100vw;
height: auto;
overflow-x: hidden;
}

/* DASHBOARD STYLE */

/* estilo container */
#container{
    width: 100%;
    height: 100%;
}

/* estilo del titulo */

#title{
    line-height: 100%;
    padding-left: 10px;
    border-bottom: .75px solid rgb(215, 215, 215);
}

h2{
    margin-top: 1em;
    margin-bottom: .8em;
    font-size: 2.5em;
    font-weight: bold;
}

i{
    font-size: .5em;
    
}

h1{
    font-weight: bold;
    font-size: 5em;
    padding: .2em;
    padding-left: .8em;
    background-color: black;
    color: white;
    width: 5em;
}

/* estilos de las cards */

#content{
    display: grid;  
    grid-template-columns:1fr 1fr;
    justify-items: center;
}

#card{
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;
    height: 8em;
    width: 8em;
    margin: .8em;
    padding: .5em;
}

#card:hover{
    transform: scale(1.1);
    background: rgb(220, 218, 218) ;
    color: black;
    transition: .5s all ease-in-out;
}

#card:not(:hover){
    transform: scale(1);
    transition: .5s all ease-in-out;
}

h4{
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.765);
    padding-bottom: 5%;
    margin-bottom: 5%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
   
    color: black;
    border-color: black;
    background-color: black;
 }

#infoCard{
    margin-bottom: 1em;
    font-size: .8em;
    padding: .3em;
}

a{
    color: black;
    font-size: small;
    border: 1px solid grey;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgb(215, 209, 209);
    padding: .3em;
    border-radius: 10px;
}


a:hover{
    background-color: black;
    color: rgb(220, 218, 218);
    cursor: pointer;
}

a:not(:hover){
    transition: .5s all ease-in-out;
}


/* DETAIL CARD STYLE */
#container2{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
}

#imgDetail{
    
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#textDetail{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


/* #textDetail{

} */

.detail{
    width: 80%;
    height: 30em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2.5px black;
    padding: 5% 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    text-align: center;
}

.detail:hover{
    transform: scale(1.04);
    background: black;
    color: white;
    transition: .5s all ease-in-out;
}

.detail:not(:hover){
    transform: scale(1);
    background: white;
    color: black;
    transition: .5s all ease-in-out;
}

img{
    width: 70%;
}


.greyBook{
    color: rgb(77, 77, 77);
}


#back{
    text-align: center;
    margin: 2.5%;
    margin-left: 1.5%;
    width: 7.5%;
    padding: .5%;
    color: white;
    background: rgba(255, 0, 0, 0.902);
    border-color: #f1f1f100;
    border-radius: 0;
    font-size: 1em;
}

.detailName{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 2em;
    margin-top: 1em;
    padding-bottom: .5em; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .detailUrl{
    width: 8em;
    height: 12em;
     margin-bottom: 4em;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
  }

  p{
    font-family: Roboto;
  }

  .detailLista{
    margin-bottom: 20px;
    font-style: oblique;
  }

  .detailDescription{
    display: flex;
    align-items:flex-start;
    justify-content:center;
  }


/* MEDIA QUERIES */

@media (max-width: 600px){    
    #back{
        width: 30%;
        padding: 2%;
    }
    #title{
        font-size: .5em;
    }
    .detailName{
        font-size: 1em;
    }
    h2.greyBook{
        line-height: 1em;
    }
}

@media (min-width: 600px){
    #content{
        grid-template-columns:1fr 1fr 1fr;
    }
    h2.greyBook{
        font-size: 1.8em;
    }
    #back{
        width: 20%;
        padding: 2%;
    }
    
}



@media (min-width: 890px){
    #container2{
        margin-top: 5%;
    }
    #textDetail{
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    .detailName{
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 2em;
        margin-top: 1em;
        padding-bottom: .5em; 
      }
      #back{
        width: 10%;
        padding: 1%;
    }
    
}
@media (min-width: 1024px){
    #textDetail{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }

    #content{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }

    #card{
        height: 18em;
        width: 18em;
    }
    
    h4{
        font-size: 1.8em;
    }

    #infoCard{
        margin-bottom: 2em;
        font-size: 1.2em;
        padding: .5em;
        line-height: 120%;
    }
    
    a{
        font-size: 1.5em;
    }
    #back{
        width: 10%;
        padding: .5%;
    }

}
@media (min-width: 1400px){
    #container2{
        margin-top: 2%;
    }
    #textDetail{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }
}

/* SCROLLBAR STYLES */


/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 50px;
  }


  /* estilos details */

  