/* estilo body */
body{
width: 100vw;
height: 100vh;
overflow-x: hidden;
}

/* DASHBOARD STYLE */

/* estilo container */
#container{
    width: 100%;
    height: 100%;
}

/* estilo del titulo */

#title{
    line-height: 100%;
    padding-left: 10px;
}

h2{
    margin-top: 1em;
    margin-bottom: .8em;
    font-size: 1em;
    font-weight: bold;
}

i{
    font-size: .5em;
    
}

h1{
    font-weight: bold;
    font-size: 3em;
    padding: .1em;
    padding-left: .8em;
    background-color: black;
    color: white;
    width: 5em;
}

/* estilos de las cards */

#content{
    display: grid;  
    grid-template-columns:1fr 1fr;
    justify-items: center;
}

#card{
    border-radius: 15px;
    border: 1px solid grey;
    box-shadow: 1px 1px 1px grey;
    height: 8em;
    width: 8em;
    margin: .8em;
    padding: .5em;
}

#card:hover{
    transform: scale(1.1);
    background: rgb(220, 218, 218) ;
    color: black;
    transition: .5s all ease-in-out;
}

#card:not(:hover){
    transform: scale(1);
    transition: .5s all ease-in-out;
}

h4{
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.765);
    padding-bottom: 5%;
    margin-bottom: 5%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

hr{
   
    color: black;
    border-color: black;
    background-color: black;
 }

#infoCard{
    margin-bottom: 1em;
    font-size: .8em;
    padding: .3em;
}

a{
    color: black;
    font-size: small;
    border: 1px solid grey;
    text-decoration: none;
    box-shadow: 2px 2px 2px rgb(215, 209, 209);
    padding: .3em;
    border-radius: 10px;
}

a:hover{
    background-color: black;
    color: rgb(220, 218, 218);
    cursor: pointer;
}

a:not(:hover){
    transition: .5s all ease-in-out;
}

    /* Diseño para tablets */

@media (min-width: 600px){
    #content{
        grid-template-columns:1fr 1fr 1fr;
    }
    
    h1{
        padding-left: 3em;
        width: 5.5em;
    }
    
  
}

@media (min-width: 1024px){
    #content{
        grid-template-columns:1fr 1fr 1fr 1fr;
    }

    


    
  
}








/* DETAIL CARD STYLE */
#container2{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imgDetail, #textDetail{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* #textDetail{

} */

.detail{
    border-radius: 5px;
    box-shadow: 0px 0px 10px -2.5px black;
    padding: 10%;
    background: white;
}

.detail:hover{
    transform: scale(1.02);
    background: black;
    color: white;
    transition: .5s all ease-in-out;
}

.detail:not(:hover){
    transform: scale(1);
    background: white;
    color: black;
    transition: .5s all ease-in-out;
}

#titleDetail{
    position: absolute;
    color: white;
}

img{
    width: 350px;
}






/* SCROLLBAR STYLES */


/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 50px;
  }
